proxy_set_header     X-Real-IP           $remote_addr;
#proxy_set_header     X-Forwarded-For     $proxy_add_x_forwarded_for;
proxy_set_header     X-Forwarded-For      $remote_addr;
proxy_set_header     Host                $http_host;
{% if DEV %}
  proxy_set_header     X-Forwarded-Proto   http;
  proxy_set_header     X-Forwarded-Port    8080;
{% else %}
  proxy_set_header     X-Forwarded-Proto   https;
  proxy_set_header     X-Forwarded-Port    443;
{% endif %}

proxy_next_upstream  error;
proxy_redirect       off;

#proxy_set_header    X-Forwarded-By       $server_addr:$server_port;
#proxy_set_header    Connection           "";

# Let the Set-Cookie header through.
proxy_pass_header   Set-Cookie;

# let CORS through
proxy_pass_header   Access-Control-Allow-Origin;
proxy_pass_header   Access-Control-Allow-Credentials;
proxy_pass_header   Access-Control-Allow-Methods;
proxy_pass_header   Access-Control-Allow-Headers;

